<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
<div style="text-align:center">
    <h2>Добро пожаловать на наш сайт!</h2>
    <h2>Пожалуйста, авторизируйтесь!</h2>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div  style="text-align:left">
        <h4>Для проверки работоспособности программы с отображением разных ролей следующие пары логин-пароль:</h4>
        <h4> - с ролью только админа: admin, admin;</h4>
        <h4> - с ролью только пользователя: user, user;</h4>
        <h4> - с ролью админа и пользователя: adminuser, adminuser.</h4>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <form sec:authorize="isAnonymous()" th:action="@{/login}" th:method="GET">
        <input type="submit" value="Войти под своим именем и паролем"/>
    </form>
    <br/>
    <br/>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="POST">
        <input type="submit" value="               Выйти из сессии                  "/>
    </form>
</div>
</body>
</html>